# COMP90014 demo notebook

Blank notebook for Binder launch

In [5]:
lista = [1,2,3]
listb = ['a','b','c']
listc = zip(lista, listb)
listc = set(listc)

print(listc)

{(2, 'b'), (3, 'c'), (1, 'a')}

In [21]:
D = dict()
D['tutors'] = "Hannah"
D["students"] = ['Lachlan', 'Grace', 'Sam']

print(D)

{'tutors': 'Hannah', 'students': ['Lachlan', 'Grace', 'Sam']}

In [22]:
outer_dictionary = dict()
inner_dictionary = dict()

inner_dictionary['firstName'] = "Hannah"
inner_dictionary['lastname'] = "Huckstep"
outer_dictionary['Person1'] = inner_dictionary

print(outer_dictionary)
print(outer_dictionary['Person1']['firstName'])



print(inner_dictionary.keys())

{'Person1': {'firstName': 'Hannah', 'lastname': 'Huckstep'}}
Hannah
dict_keys(['firstName', 'lastname'])

In [7]:
def func():
    a = 1
    b = "this is node1"
    c = "this is node2"
    return a,b,c

In [8]:
dist, node1, node2 = func()

print(dist)
print(node1)
print(node2)

1
this is node1
this is node2

In [10]:
key1 = "nodeA"
key2 = "nodeB"
node_name = "{}-{}".format(key1, key2)
print(node_name)

nodeA-nodeB

In [1]:
a = None
b = 'None'
print(type(a))
print(type(b))

<class 'NoneType'>
<class 'str'>

In [2]:
import pandas as pd
import numpy as np
import networkx as nx
import scipy

In [12]:
test_df = pd.DataFrame([[5,4,3,2],[10,10,6,8]])
test_df

    0   1  2  3
0   5   4  3  2
1  10  10  6  8

In [13]:
test_df.T

   0   1
0  5  10
1  4  10
2  3   6
3  2   8

In [15]:
test_df

    0   1  2  3
0   5   4  3  2
1  10  10  6  8

In [16]:
test_df.transpose().mean()

0    3.5
1    8.5
dtype: float64

In [19]:
np.identity(3)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html